.header{
    display: flex;
    justify-content: space-between;
    color: white;
    height: 10vh;
    width: 100vw;
    background-color: black;
}
.logo{
    padding: 10px;
}
.navs{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.navs div {
    margin:5px 10px ;
}